<div id="categorias"></div>
<h2 class="p-5 text-center"><span class="text-fitness">CATEGOR&Iacute;AS</span></h2>

<div class="row no-gutters mx-2" id="myBtnContainer" >
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>
        <div class="categorias rounded" onclick="filterSelection('casa')">
            <img src="img/categorias/machine.jpg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">Desarrollo - gesti&oacute;n</h4>
            </div>
        </div>
     </div>
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>
        <div class="categorias rounded" onclick="filterSelection('crossfit')">
            <img src="img/categorias/pexels-photo-2261485.jpeg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">Gym - Fitness - Funcional</h4>
            </div>
        </div>
     </div>   
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>    
        <div class="categorias rounded" onclick="filterSelection('fitness')">
            <img src="img/categorias/pexels-photo-3752836.jpeg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">yoga - pilates</h4>
            </div>
        </div> 
    </div>
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>
        <div class="categorias rounded" onclick="filterSelection('gimnasia')">
            <img src="img/categorias/maquinas-2.jpg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">M&aacute;quinas</h4>
            </div>
        </div>
    </div>
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>
        <div class="categorias rounded" onclick="filterSelection('boxeo')">
            <img src="img/categorias/pexels-photo-1544774.jpg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">Boxeo</h4>
            </div>
        </div>
     </div>
    <div class='col-md-4 col-6 text-center px-md-2 px-1'>  
        <div class="categorias rounded" onclick="filterSelection('salud')">
            <img src="img/categorias/suplementos.jpg" alt="Snow" class="categorias-img rounded">
            <div class="hero-text">
                <h4 class="text-uppercase">Suplementos</h4>
            </div>
        </div> 
    </div>
   
</div>
        
    