<div id="categorias"></div>
<h2 class="p-5 text-center">Categorias </h2>

<div class="row no-gutters mx-2" id="myBtnContainer" >
    <div class='col-md-2 col-4 text-center'>
        <div class="categorias-paralelo" onclick="filterSelection('casa')">
           <img src="img/categorias/pexels-photo-3076509.jpg" alt="Snow" class="categorias-img">
            <!--<div class="hero-text">
                <h4>En casa</h4>
            </div>-->
        </div>
     </div>
    <div class='col-md-2 col-4 text-center '>
        <div class="categorias-paralelo" onclick="filterSelection('crossfit')">
            <img src="img/categorias/pexels-photo-949126.jpg" alt="Snow" class="categorias-img rounded">
            <!--<div class="hero-text">
                <h4>Crossfit</h4>
            </div>-->
        </div>
     </div>   
    <div class='col-md-2 col-4 text-center '>    
        <div class="categorias-paralelo" onclick="filterSelection('fitness')">
            <img src="img/categorias/pexels-photo-3752836.jpg" alt="Snow" class="categorias-img rounded">
            <!--<div class="hero-text">
                <h4>Fitness</h4>
            </div>-->
        </div> 
    </div>
    <div class='col-md-2 col-4 text-center'>
        <div class="categorias-paralelo" onclick="filterSelection('gimnasia')">
            <img src="img/categorias/pexels-photo-2261485.jpg" alt="Snow" class="categorias-img rounded">
            <!--<div class="hero-text">
                <h4>Gimnasia</h4>
            </div>-->
        </div>
    </div>
    <div class='col-md-2 col-4 text-center'>
        <div class="categorias-paralelo" onclick="filterSelection('boxeo')">
            <img src="img/categorias/pexels-photo-1544774.jpg" alt="Snow" class="categorias-img rounded">
            <!--<div class="hero-text">
                <h4>Boxeo</h4>
            </div>-->
        </div>
     </div>
    <div class='col-md-2 col-4 text-center'>  
        <div class="categorias-paralelo" onclick="filterSelection('salud')">
            <img src="img/categorias/pexels-photo-863935.jpg" alt="Snow" class="categorias-img rounded">
            <!--<div class="hero-text">
                <h4>Salud</h4>
            </div>-->
        </div> 
    </div>
   
</div>
        
    