<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<div class="row no-gutters p-5" style="background-color:#233460;">
    
        <div class="col-12 text-center">
            <img src="img/home/logo-600-t.png" title="" alt=""/>
            <!--<h4 class="text-white text-center"><span class="text-fitness-white"> FG FITNESS </span> </h4>-->
        </div>
   
    
        <div class="col-12 mt-md-3">
            <h6 class="text-white text-center text-fitness-c">
               Pedidos: <br/>
               FACU - 11 3620 3918<br/>
               GABY - 11 6266 9732
            </h6>
           

            <h6 class="text-center text-white text-fitness-c">Escribinos hoy:<br/>
                <a class="text-center text-white text-fitness-c" href="mailto:pedidos@fgfitness.com.ar" title="pedidos@fgfitness.com.ar">pedidos@fgfitness.com.ar</a>
            </h6>
        </div>
        
    </div>
    
<div class="col-ms-12 text-center text-secondary p-2 text-white text-fitness-c">
    <p style="font-size:13px;">Dise&ntilde;o y realizaci&oacute;n por Rafael Defelice (info@maccingames.com.ar) para Maccingames.srl . Argentina. Julio 2020</p>
</div>
    

        
    