<div class="col-12 py-5 ml-auto mr-auto px-md-5 px-2">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripci&oacute;n</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Informaci&oacute;n</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contacto</a>
        </li>
    </ul>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="p-4">
                <h4 class="text-left">Descripci&oacute;n del producto</h4>
                <h5 class="card-title text-left text-secondary">Colchonetas de Gimnasia</h5>
                <h6 class="card-title text-left text-secondary">GIMNASIA</h6>
                <h5 class="card-title text-left text-secondary">$239.90</h5>
                <p class="card-text w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio, officia quis dolore quos sapiente tempore alias.</p>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="p-4">
                <h4 class="text-left">Informaci&oacute;n Adicional</h4>
                <h5 class="card-title text-left text-secondary">Peso:</h5>
                <h5 class="card-title text-left text-secondary">Dimensiones:</h5>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">CONTACT</div>
    </div>
</div>
    


   
        
    